.root {
    -fx-accent: #fdb58c;
    -fx-focus-color: -fx-accent;
    -fx-background-color: #1e1e1e;
    -fx-base: #1e1e1e
}

/*Button*/
.button {
    -fx-background-color: #343434;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #5b5b5b;
}

.button:pressed {
    -fx-background-color: #464646;
    -fx-text-fill: #e1e1e1;
}

.button:default {
    -fx-background-color: -fx-accent;
    -fx-text-fill: #000000;
}
.button:default:hover:pressed {
    -fx-background-color: derive(-fx-accent,-10%);
}

.button:default:hover {
    -fx-background-color: derive(-fx-accent,20%);
}

/*MenuBar*/
.menu-bar {
    -fx-background-color: #323232FF;
}

.context-menu {
    -fx-background-color: #323232FF;
}

/*Textfield*/
.text-field {
    -fx-background-color: #464646;
    -fx-border-color: #5d5d5d;

    -fx-text-fill: white; /* Kolor tekstu */
    -fx-caret-color: white; /* Kolor kursora */
}

.text-field:focused {
    -fx-border-color: -fx-accent;
}

/** Switch */
.toggle-switch .thumb {
    -fx-background-color: #363636;
    -fx-border-color: #7c7c7c;
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: -fx-accent;
}

.toggle-switch .track {
    -fx-background-color: #363636;
    -fx-border-color: #7c7c7c;
}

.toggle-switch .track:selected {
    -fx-background-color: derive(-fx-accent, 20%);
}

.toggle-switch .thumb .thumb-text {
    -fx-text-fill: black;
}

/* ListView */
.list-view .list-cell {
    -fx-background-color: #282828;
}

.list-view .list-cell:selected {
    -fx-background-color: -fx-accent;
}

.list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view .list-cell .label {
    -fx-text-fill: white;
}

.list-view .list-cell:selected .label {
    -fx-text-fill: black;
}

/*ScrollBar */
.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #262626;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #2f2f2f;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #343434;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #424242;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-button:hover,
.scroll-bar:vertical .increment-button:hover,
.scroll-bar:horizontal .decrement-button:hover,
.scroll-bar:vertical .decrement-button:hover {
}

.scroll-bar:horizontal .increment-button:pressed,
.scroll-bar:vertical .increment-button:pressed,
.scroll-bar:horizontal .decrement-button:pressed,
.scroll-bar:vertical .decrement-button:pressed {
    -fx-background-color: #2a2a2a;
}