.root {
    -fx-background: -fx-base;
    -fx-focus-color: -fx-accent;
}

/*Button*/
.button, .toggle-button{
    -fx-background-radius: 8px;
    -fx-background-insets: 0px 0px 0px 0px;
}

/*Menu bar*/
.context-menu {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 7px;
}
.menu-bar .menu-item, .menu, .menu:showing {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/*Textfield*/
.text-field .text-field:focused {
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

/** Switch */
.toggle-switch .thumb {
    -fx-border-radius: 10px;
}


.toggle-switch .track {
    -fx-border-radius: 10px;
}

/*List View*/
.list-view .list-cell {
    -fx-background-color: derive(-fx-base,10%);
}

.list-view .list-cell:selected {
    -fx-background-radius: 7px;
}

.list-view .list-cell:selected {
    -fx-background-color: -fx-accent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
}

.list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
}

/*Scroll pane*/
.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
}

.cipher-info {
    -fx-background-radius: 10px;
}

.search-text-field, .search-text-field:focused {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}