* {
    -color-accent: #9a4500;
    -color-neutral: black;

    -color-base-0: white;
    -color-base-25: #ffffff;
    -color-base-50: #dedede;
    -color-base-100: #f5f5f5;
    -color-base-125: #eaeaea;
    -color-base-200: #d8d8d8;
    -color-base-250: #dddddd;
    -color-base-300: #b3b3b3;
    -color-base-400: #8c8c8c;
    -color-base-500: #666666;
}