* {
    -color-accent: #fdb58c;
    -color-neutral: white;

    -color-base-0: black;
    -color-base-25: derive(-color-base-100,-10%);
    -color-base-50: derive(-color-base-100,-5%);
    -color-base-100: #222222;
    -color-base-125: derive(-color-base-100,5%);
    -color-base-200: derive(-color-base-100,10%);
    -color-base-250: derive(-color-base-100,15%);
    -color-base-300: derive(-color-base-100,20%);
    -color-base-400: derive(-color-base-100,25%);
    -color-base-500: derive(-color-base-100,30%);
}