.cipher-info {
    -fx-background-color: -color-base-125;
    -fx-background-radius: 10px;
}

.search-text-field, .search-text-field:focused {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.scroll-bar {
    -fx-opacity: 0;
}

.scroll-bar:hover {
    -fx-opacity: 1;
}