.root {
    -fx-accent: #9a4500;
    -fx-base: #f5f5f5;
}

/*Button*/
.button, .toggle-button {
    -fx-background-color: #d9d9d9;
}

.button:hover, .toggle-button:hover, .toggle-button:selected {
    -fx-background-color: #BBBBBB;
}

.button:pressed, .toggle-button:pressed {
    -fx-background-color: #999999;
    -fx-text-fill: #ffffff;
}

.button:default {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}
.button:default:hover:pressed {
    -fx-background-color: derive(-fx-accent,-10%);
}

.button:default:hover {
    -fx-background-color: derive(-fx-accent,20%);
}

/*Menu bar*/
.menu-bar {
    -fx-background-color: #e6e6e6;
}
.context-menu {
    -fx-background-color: #fefefe;
}

/*Textfield*/
.text-field {
    -fx-background-color: #fff;
    -fx-border-color: #d7d7d7;
}

.text-field:focused {
    -fx-border-color: -fx-accent;
}

/** Switch */
.toggle-switch .thumb {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: -fx-accent;
}

.toggle-switch .track {
    -fx-background-color: #eeeeee;
    -fx-border-color: #cccccc;
}

.toggle-switch .track:selected {
    -fx-background-color: derive(-fx-accent, 20%);
}

.toggle-switch .thumb .thumb-text {
    -fx-text-fill: black;
}

/*ListView*/
.list-view .list-cell {
    -fx-background-color: derive(-fx-base,40%);
}

.list-view .list-cell:selected {
    -fx-text-fill: white;
}

.list-view .list-cell .label {
    -fx-text-fill: black;
}

.list-view .list-cell:selected .label {
    -fx-text-fill: white;
}

/*ScrollBar */
.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #F0F0F0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #BDBDBD;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #757575;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #424242;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-button:hover,
.scroll-bar:vertical .increment-button:hover,
.scroll-bar:horizontal .decrement-button:hover,
.scroll-bar:vertical .decrement-button:hover {
    -fx-background-color: #CFCFCF;
}

.scroll-bar:horizontal .increment-button:pressed,
.scroll-bar:vertical .increment-button:pressed,
.scroll-bar:horizontal .decrement-button:pressed,
.scroll-bar:vertical .decrement-button:pressed {
    -fx-background-color: #A0A0A0;
}

/*Cipher*/
.cipher-info {
    -fx-background-color: derive(-fx-background,-5%);
}