.root {
    -fx-accent: #9a4500;
    -fx-focus-color: -fx-accent;
}

/*Button*/
.button {
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 8px;
    -fx-background-insets: 0px 0px 0px 0px;
}

.button:hover {
    -fx-background-color: #BBBBBB;
}

.button:pressed {
    -fx-background-color: #999999;
    -fx-text-fill: #ffffff;
}

.button:default {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}
.button:default:hover:pressed {
    -fx-background-color: derive(-fx-accent,-10%);
}

.button:default:hover {
    -fx-background-color: derive(-fx-accent,20%);
}

/*Menu bar*/
.menu-bar {
    -fx-background-color: #e6e6e6;
}
.context-menu {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 7px;
}
.menu-bar .menu-item, .menu, .menu:showing {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/*Textfield*/
.text-field {
    -fx-background-color: #fff;
    -fx-border-color: #d7d7d7;
    -fx-border-radius: 3px;
}

.text-field:focused {
    -fx-border-color: -fx-accent;
    -fx-border-radius: 3px;
}

/** Switch */
.toggle-switch .thumb {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10px;
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: -fx-accent;
}

.toggle-switch .track {
    -fx-background-color: #eeeeee;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10px;
}

.toggle-switch .track:selected {
    -fx-background-color: derive(-fx-accent, 20%);
}

.toggle-switch .thumb .thumb-text {
    -fx-text-fill: black;
}

/*ListView*/
.list-view .list-cell {
    -fx-background-color: #ffffff;
}

.list-view .list-cell:selected {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;

}

.list-view .list-cell:selected {
    -fx-border-radius: 5px;
}

.list-view:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

/* Klasa bazowa dla ScrollBar */
.scroll-bar {
    -fx-background-color: transparent;
}

/* Track - tło ScrollBar'a */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #F0F0F0; /* Kolor tła */
}

/* Thumb - "suwak" ScrollBar'a */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #BDBDBD; /* Kolor suwaka */
}

/* Hover - najechanie kursorem na Thumb */
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #757575; /* Kolor suwaka po najechaniu */
}

/* Pressed - kliknięcie na Thumb */
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #424242; /* Kolor suwaka po kliknięciu */
}

/* ScrollBar z wartościami minimum i maksimum */
.scroll-bar:horizontal .increment-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

/* ScrollBar z wartościami minimum i maksimum - Hover */
.scroll-bar:horizontal .increment-button:hover,
.scroll-bar:vertical .increment-button:hover,
.scroll-bar:horizontal .decrement-button:hover,
.scroll-bar:vertical .decrement-button:hover {
    -fx-background-color: #CFCFCF; /* Kolor przycisków po najechaniu */
}

/* ScrollBar z wartościami minimum i maksimum - Pressed */
.scroll-bar:horizontal .increment-button:pressed,
.scroll-bar:vertical .increment-button:pressed,
.scroll-bar:horizontal .decrement-button:pressed,
.scroll-bar:vertical .decrement-button:pressed {
    -fx-background-color: #A0A0A0; /* Kolor przycisków po kliknięciu */
}
