Package: librepass
Version: [[version]]
Section: Internet
Priority: optional
Architecture: all
Homepage: https://librepass.medzik.dev
Depends: openjdk-17-jre
Maintainer: WPKG Team <librepass@medzik.dev>
Description: [[description]]
